/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #007acc;
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: #333;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 4px;
}

/* Main content */
main {
    padding: 20px;
}

.section-image {
        max-width: 100%; /* Makes the image responsive */
        height: auto; /* Maintains the aspect ratio */
        display: block; /* Centers the image in the container */
        margin: 20px auto; /* Adds space above and below the image */
    }
    